{% extends 'recipes/base.html' %}

{% block header %}
 Sign up
{% endblock %}

{% block title %}
    Sign up
{% endblock %}

{% block content %}
    <section class="single_blog_area section_padding_80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="row no-gutters">
                        <div class="col-10 col-sm-11">
                            <div class="leave-comment-area section_padding_50 clearfix">
                                <div class="comment-form">
                                    <form action="#" method="post">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <input type="text" name="first_name" class="form-control" id="contact-first-name" placeholder="First name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="last_name" class="form-control" id="contact-last-name" placeholder="Last name">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" id="contact-email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="city" class="form-control" id="contact-city" placeholder="City">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" id="password" placeholder="password">
                                        </div>
                                        <button type="submit" class="btn contact-btn">Sign up</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
